 #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

        #right-panel select, #right-panel input {
            font-size: 15px;
        }

        #right-panel select {
            width: 100%;
        }

        #right-panel i {
            font-size: 12px;
        }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map {
        height: 100%;
        float: left;
        width: 63.5%;
        height: 100%;
        position: absolute;
        margin-left: -4em;
    }

    #right-panel {
        float: right;
        width: 34%;
        height: 100%;
    }

    #floating-panel, #waypoints-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        margin-top: 4em;
        margin-left: -10em;
    }

    #waypoints-panel {
        margin-left: 25.7em;
        margin-top: 3.7em;
    }

    .panel; {
        height: 100%;
        overflow: auto;
    }