<?xml version="1.0"?>
<configuration>
  <system.web>
    <!--Session time out configuration-->
    <sessionState mode="InProc" timeout="30"/>
    <!--<compilation debug="true" targetFramework="4.0" />-->
    <compilation debug="false"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="DefaultBinding" 
                 maxReceivedMessageSize="2147483647" 
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 transferMode="Streamed"
                 sendTimeout="00:05:00">
          <readerQuotas maxDepth="2147483647" 
                        maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>

    
    
    
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="100" maxConcurrentSessions="100"/>
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTFriendly">
          <webHttp defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="IssueTracker.NetSvc.SecurityService">
        <endpoint address="" behaviorConfiguration="RESTFriendly" binding="webHttpBinding" bindingConfiguration="DefaultBinding" contract="IssueTracker.NetSvc.ISecurityService"/>
      </service>
      <service name="IssueTracker.NetSvc.IssueTrackerService">
        <endpoint address="" behaviorConfiguration="RESTFriendly" binding="webHttpBinding" bindingConfiguration="DefaultBinding" contract="IssueTracker.NetSvc.IIssueTrackerService"/>
      </service>
      <service name="IssueTracker.NetSvc.AdministrationService">
        <endpoint address="" behaviorConfiguration="RESTFriendly" binding="webHttpBinding" bindingConfiguration="DefaultBinding" contract="IssueTracker.NetSvc.IAdministrationService"/>
      </service>
    </services>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data,Culture=neutral"/>
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="default_Plugin" value="initvent_issue"/>
    <add key="log4net.Config" value="log4net.xml"/>
    <add key="LogFolderPath" value="E:\Resources\iMFAS\Logs\"/>
    <add key="NHDialect" value="NHibernate.Dialect.MsSql2008Dialect"/>
    <add key="IssueTrackerDataServices" value="InitVent.NH.DataServices.SQLServer"/>
    <add key="FileResourcePath" value="E:\Resources\IssueTracker\"/>
    <add key="commandTimeOut" value="1200"/>
  </appSettings>
  <connectionStrings>
    <add name="IssueTrackerDataServices" connectionString="Server=NEPTUNE\SQL14;Database=ISSUE-TRACKER;Uid=sa;Pwd=$h0wd0wn;Connection Timeout=360; pooling='true'; Min Pool Size=0; Max Pool Size=200;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>